

<% @link_memos.each do | lm |
   topic_list = lm.program.topics %>
  <br/>Topics for Program <b><%= lm.program.code %></b>:
  <% if topic_list.empty? %>
    keine
    <% else  %>


<hr/>
<div>
  <dl>
  <%
    not_included = []
    lm.program.topics.each do |topic| %>

      <% @course_topic_description = TopicDescription.where(implementable: @course, topic: topic).first
         if @course_topic_description %>
        <dt><%= topic.title %> </dt>
        <dd>
        <%= @course_topic_description.description %>
        </dd>
      <% else
        not_included << topic
    end %>

  <% end %>
  </dl>
</div>
<div>
  <br/>
  <hr/>
  <% not_included.each do |topic| %>
    <%= link_to "+ #{topic.title}", new_topic_description_path(topic_id: topic.id, course_id: @course.id) %>
    |
  <% end %>
</div>
  <% end %>

<% end %>
