# ignore tmp
/tmp/*
/log/*
/logc/*

# sqlite databases
/db/*.sqlite
/public/uploads
.git

# postgres dbs
/pg_data/**

# node modules

npm-debug.log
.env
/gem_cache/**
/node_modules/**
/config/master.key
secrets.env
