# ignore tmp
/tmp*
/log*
/container_logs*

/db/*.sqlite
/public/uploads*

.git

/pg_data**
/pg_transfer*


npm-debug.log
.env
/gem_cache/**
/node_modules*
/config/master.key
/secrets*
secrets.env

/public/assets*

# Ignore simplecov report
/coverage*

# ignore test files
/test*
