# overrides for local usage & development -
# ------------------------------------------------
# ** don't ever copy to production machine! **
# ------------------------------------------------

# see doc: https://docs.docker.com/compose/compose-file/compose-file-v3/
# override precedence:
# https://docs.docker.com/compose/extends/#adding-and-overriding-configuration

version: '3.9'
services:
  module-handbook-mariadb:
      environment:
        - MYSQL_DATABASE=modhand-db-dev # test?
      ports:
      - "3306:3306" # don't do this on production!
  module-handbook:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
      target: modhand-dev
    image: mh-local-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/module-handbook  # use app files from host
      - /module-handbook/node_modules # but not the node_modules
    environment:
      - MARIADB_DB=modhand-db-dev
      - RAILS_ENV=development
      - RAILS_MASTER_KEY=
      # - EXPORTER_BASE_URL=
      - CHROME_URL=http://chrome:3333
    restart: "no"
#    depends_on:
#      - chrome
#  # docker run -p 3003:3000 browserless/chrome:1.31-chrome-stable
#   chrome:
#     image: browserless/chrome:1.31-chrome-stable
# #     image: barrenechea/browserless:latest
#     ports:
#       - "3333:3333"
#     #volumes:
#     #  - .:/app:cached # change it for your rails' container directory
#     #  - .:/usr/src/app:cached
#     environment:
#       PORT: 3333
#       CONNECTION_TIMEOUT: 600000
