# overrides for local usage & development -
# ------------------------------------------------
# ** don't ever copy to production machine! **
# ------------------------------------------------

# see doc: https://docs.docker.com/compose/compose-file/compose-file-v3/
# override precedence:
# https://docs.docker.com/compose/extends/#adding-and-overriding-configuration

version: '3.4'
services:
  module-handbook-postgres:
      environment:
        - POSTGRES_DB=modhand-db-dev # test?
#      volumes:
#        - ./pg_transfer:/var/lib/postgresql/pg_transfer
      ports:
       - "5432:5432" # don't do this on production!make
  module-handbook:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
      target: modhand-dev
    image: mh-local-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/module-handbook  # use app files from host
      - /module-handbook/node_modules # but not the node_modules
    environment:
      - POSTGRES_DB=modhand-db-dev
      - RAILS_ENV=development
      - RAILS_MASTER_KEY=
      # - EXPORTER_BASE_URL=
    restart: "no"
