# to run prod image locally, e.g. with
# docker-compose -f docker-compose.yml -f docker-compose.override.yml -f docker-compose.localprod.yml up
version: '3.9'
services:
  module-handbook:
    image: mh-local-prod
    build:
      context: .
      target: "modhand-prod"
      args:
        RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
#    volumes:
#      - .:/module-handbook  # use app files from host
#      - /module-handbook/node_modules # but not the node_modules
  nginx:
    environment:
      - NGINX_HOST=localhost
      - NGINX_CERT=/etc/ssl/server.crt
      - NGINX_KEY=/etc/ssl/server.key
