<p>Hello, <%= @email %>!</p> 
<p>
    Your account for the <%= fetch_instance_variable %> has been approved by an admin. You have now access to the site. Follow the link below to get started.
</p> 

<p>
    <%= link_to 'Link to Login', "#{@host}/users/sign_in" %>
</p> 

<p>
    Further details regarding the Module Handbook are available at 
    <a href="https://modulehandbook.github.io/">https://modulehandbook.github.io/</a>.
</p> 