<<<<<<< HEAD
<% if @comments.size > 0 %>
  There are <%= @comments.size %> comments
=======
<p class="mt-3">
<% if @comments_size > 0 %>
  There are <%= @comments_size %> comments
>>>>>>> 4616c1d6f7092cac10d57f2ff67765ed0bb52e33
<% else %>
  There are no comments
<% end %>

<br>
<%= link_to 'Go to comments', anchor: "comments" %>
<<<<<<< HEAD
=======
</p>
>>>>>>> 4616c1d6f7092cac10d57f2ff67765ed0bb52e33
