
<p class="mt-3">
<% if @comments_size > 0 %>
  There are <%= @comments_size %> comments
<% else %>
  There are no comments
<% end %>

<br>
<% if has_comments_tab%>
  <%= link_to 'Go to comments', polymorphic_path([this], tab: :comments) %>
<% else %>
  <%= link_to 'Go to comments', anchor: "comments" %>
<% end%>
</p>
