
<%=content_for(:title, "Comment Debug View")%>
<%=content_for(:headline_tag, 'h3')%>
<% [:author_id, :comment, :commentable_id, :commentable_type].each do |f |
  field = f.to_s
%>
<p>
  <%= field %>: <%=@comment.send(field)%>
</p>
<% end %>
