<div id="<%= dom_id topic_description %>">
  <p>
    <strong>Topic:</strong>
    <%= topic_description.topic_id %>
  </p>

  <p>
    <strong>Implementable:</strong>
    <%= topic_description.implementable_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic_description.description %>
  </p>

</div>
