<p style="color: green"><%= notice %></p>

<h1>Topic descriptions</h1>

<div id="topic_descriptions">
  <% @topic_descriptions.each do |topic_description| %>
    <%= render topic_description %>
    <p>
      <%= link_to "Show this topic description", topic_description %>
    </p>
    <hr/>
  <% end %>
</div>

