<div id="<%= dom_id faculty %>">
  <p>
    <strong>Name:</strong>
    <%= faculty.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= faculty.url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= faculty.description %>
  </p>

</div>
