<p style="color: green"><%= notice %></p>

<% content_for(:title, "Faculties") %>

<div id="faculties">
  <% @faculties.each do |faculty| %>
    <%= render faculty %>
    <p>
      <%= link_to "Show this faculty", faculty %>
    </p>
  <% end %>
</div>

<%= link_to "New faculty", new_faculty_path %>
