
<h3>Users</h3>
<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Approved</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td onclick = "location.href='<%= user_path(user) %>'" scope="row"><%= user.email %></td>
        <td> <input type="checkbox" <%= user.approved ? "checked":"" %>></td>
        <td><%= link_to "Edit", edit_user_path(user) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
