
<% content_for(:title, "Users") %>

<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <%  @fields.each do | field_name | %>
      <th scope="col"><%= field_name.to_s.humanize %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%  @fields.each do | field_name | %>
          <%= render 'field_in_index', user: user, field_name: field_name %>
        <% end %>

        <td><% if can? :destroy, user %>
                <%= link_to 'Destroy', user, id: "destroy_user_#{user.id}", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        <% end %></td>

        <td><% if can? :edit, user %>
            <%= link_to "Edit", edit_user_path(user) %>
        <% end %></td>

      </tr>
    <% end %>

  </tbody>
</table>

<br>
