
<h3>User: <%= @user.email %></h3>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.to_s.humanize %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @user.approved %>
</p>
