
<div class="container">
  <div class="row ">
    <div class="col-md-1">
    &nbsp;
    </div>
    <div class="col-md-auto">



<%
user = @user
%>
<table class="table table-sm">

  <thead>

    <tr>
      <th colspan="2" scope="col" ><h3>Showing User: <%= @user.email %></h3></</th>

    <% if can? :edit, @user %>
      <th>
        <button type="button" class="btn btn-warning btn-sm">
            <%= link_to "Edit", edit_user_path(@user) %>
        </button>
      </th>

    <% end %>
      </tr>
  </thead>

  <tbody>

    <%  @fields.each do | field_name | %>
      <%= render 'field_in_show', user: user, field_name: field_name %>
    <% end %>

  </tbody>

</table>


</div>
<div class="col-md-3">
&nbsp;
</div>

</div>
</div>
