<% content_for(:title, "Abilities") %>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Model / Action</th>
      <% @roles.each do |role| %>
        <th scope="col"><%= role %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @abilities_map.each do |model_name, actions| %>
      <% actions.each do |action| %>
        <tr>
          <th scope="row"><%= "#{model_name} / #{action}" %></th>
          <% @roles.each do |role| %>
            <td>
              <% can_do = @abilities[role].can?(action.to_sym, model_name.constantize) %>
              <div class="alert alert-<%= can_do ? 'success' : 'danger' %>" role="alert">
                <%= can_do %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>