<%=content_for(:title, "Welcome to the Module Handbook!")%>
<%=content_for(:headline_tag, 'h1')%>

See the [Website](https://modulehandbook.github.io/)
[https://modulehandbook.github.io/](https://modulehandbook.github.io/)
for more information.

To use the Modulehandbook, you can sign up with any email Address,
need to confirm the email address and then be approved by an admin
on this site.

<p>Introduction and Manual goes here</p>
<p>also a link to kramdown</p>

<hr/>
<p> There are two ways to link Courses to Programs:</p>
<ol>
  <li>create Course from Program site OR</li>
  <li>create CourseProgram link instance after Course and Program have been created</li>
</ol>

