default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  host: <%= ENV.fetch("RAILS_DB_HOST") { 'localhost' } %>
  username: <%= ENV.fetch("POSTGRES_USER") { 'modhand' } %>
  # heroku first, then compose file value:
  password: <%= ENV['MYAPP_DATABASE_PASSWORD'] || ENV.fetch("POSTGRES_PASSWORD") { 'modhand' } %>
  port: <%= ENV.fetch("POSTGRES_PORT") { 5432 } %>
  database: <%= ENV['POSTGRES_DB'] || 'modhand-db-dev' %>

development:
  <<: *default

test:
  <<: *default
  database: 'modhand-test'

production:
  <<: *default
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
