<% content_for(:title, "Abilities") %>

<%
  models = @models =
  roles = @roles
  actions_by_module = @actions_by_module
  abilities = @abilities
%>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Model / Action</th>
      <% roles.each do |role| %>
        <th scope="col"><%= role %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% models.each do |model| %>
      <% actions_for_model = actions_by_module[model.name] || [] %>
      <% actions_for_model.each do |action| %>
        <tr>
          <th scope="row"><%= "#{model} / #{action}" %></th>
          <% roles.each do |role| %>
            <td>
              <% can_do = abilities[role].can? action, model %>
              <div class="alert alert-<%= can_do ? 'success' : 'danger' %>" role="alert">
                <%= can_do %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>