<% content_for(:title, "Abilities") %>

<table class="table table-sm table-striped">
  <thead class="table-light">
    <tr>
      <th scope="col">Model / Action</th>
      <% @roles.each do |role| %>
        <th scope="col"><%= role %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @models.each do |model| %>
      <% actions = @actions_by_model[model] || [] %>
      <% actions.each do |action| %>
        <tr>
          <th scope="row"><%= "#{model} / #{action}" %></th>
          <%  @roles.each do |role| %>
            <td>
              <% can_do = @abilities[role].can? action.to_sym, model.constantize %>
              <div class="alert alert-<%= can_do ? 'success' : 'danger' %>" role="alert">
                <%= can_do %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
