// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg-in_progress {
  background-color: #F24726;
}
.bg-in_review {
  background-color: #FAA810;
}
.bg-ready_for_councils {
  background-color: #808080;
}
.bg-updating {
  background-color: #FADB10;
}
.bg-done {
  background-color: #8FD14F;
  background-color: #8FD14F;
}
