// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.bg-required-mandatory {
  background-color: #FFF8DC;
}
.bg-required-elective {
  background-color: #F0FFFF;
}
.bg-required-required {
  background-color: #FFE4E1;
}

@media print {
    
}