<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>
    We're contacting you to inform you that your email address is being changed to 
    <strong><%= @resource.unconfirmed_email %></strong>. 
    Please confirm this change by following the instructions provided in the email sent to that address.
  </p>
<% else %>
  <p>We’re reaching out to let you know that your email address has been successfully updated to <strong><%= @resource.email %></strong>.</p>
<% end %>
