
<div>
<%= link_to_new "New topic", Topic, program_id: @program.id %>
<br/>
<dl>
  <% @topic_descriptions.each do | td |%>
    <dt>Title: <%= link_to  td.topic.title, topic_path(td.topic) %></dt>
    <% desc =  td.description || "..."
       desc = "..." if desc == "" %>
    <dd>Beschreibung für diesen Studiengang: <%= link_to desc, topic_description_path(td) %></dd>
  <% end %>
</dl>
</div>