# this can be used to start the full pipeline from dev branches
# names are short as they are pre-pended on gh actions
name: Branch Pipeline
on:
  push:
    branches: [ '*' ]
    tags-ignore: [ '*' ]

jobs:
  branch:
    name: B
    # if: ${{ github.ref_type == 'branch' && github.ref == 'refs/heads/master'}}
    uses: ./.github/workflows/pipeline_02_structure.yml
    with:
      tags: type=sha
      push: false # branches should not publish (push) docker images!
      target: modhand-dev
      
    secrets:
      rails_master_key: ${{ secrets.RAILS_MASTER_KEY }}


