
# called by  pipeline_02_structure.yml

name: "03: Pipeline Step Test App"

on:
  push:
    branches:
      - try_cuprite_driver
  workflow_call:
env:
  RAILS_DB_HOST: localhost
  POSTGRES_PORT: 5432
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
        env:
          POSTGRES_PORT: 5432
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
      
    steps:
      - name: chrome
        uses: browser-actions/setup-chrome@latest
        
      - name: Check out repo code
        uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.6
          #bundler-cache: true
      - name: Install dependencies
        run: bin/bundle install

      - name: create test db
        run: bin/rails db:create RAILS_ENV=test

      - name: Run Tests
        id: run-tests
        run: bin/rails test

      - name: Run System Tests
        id: test-system
        run: |
          chrome --version
          bin/rails test:system

      - name: Echo Log on Failure
        if: ${{ failure() }}
        run: cat "log/test.log"

      - name: Some Info
        if: ${{ always() }}
        run: |
          ls -lart log
          less "log/test.log"
