# names are short as they are prepended on gh actions
name: Staging
on:
  push:
    branches: [ main ]
    tags-ignore: [ '*' ]

jobs:
  staging:
    name: Stag
    # if: ${{ github.ref_type == 'branch' && github.ref == 'refs/heads/master'}}
    uses: ./.github/workflows/pipeline_02_structure.yml
    with:
      tags: type=sha
      push: true
      environment: staging
    secrets:
      rails_master_key: ${{ secrets.RAILS_MASTER_KEY }}
      nudge: ${{ secrets.NUDGE_STAGING }}
