# this can be used to start the full pipeline from dev branches
name: local-branch
on:
  push:
    branches:
      - fix_tests
      - maria_db_versioning
    tags-ignore: [ '*' ]

jobs:
  staging:
    name: Local Branch
    # if: ${{ github.ref_type == 'branch' && github.ref == 'refs/heads/master'}}
    uses: ./.github/workflows/pipeline.yml
    with:
      tags: type=sha
      push: false # branches should not publish (push) docker images!
    secrets:
      rails_master_key: ${{ secrets.RAILS_MASTER_KEY }}
