name: Test rails app

on:
  push:
# run individually on each push to see the pattern of intermittent fails
#    branches: [ '!master' ]
  workflow_call:
#   push:
#     branches: [ master ]
#  pull_request:
#    branches: [ master ]
env:
  RAILS_DB_HOST: localhost
  POSTGRES_PORT: 5432
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
jobs:
  test:
    name: Test App
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
        env:
          POSTGRES_PORT: 5432
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        # somehow can't access the global env
    steps:
      - name: Check out repo code
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2
      - name: Install dependencies
        run: bundle install

      - name: create test db
        run: rails db:create RAILS_ENV=test

      - name: Run Tests
        id: run-tests
        run: rails test

      - name: Run System Tests
        id: test-system
        run: rails test:system

      - name: Echo Log
        if: ${{ failure() }}
        run: cat "log/test.log"

      - name: Some Info
        if: ${{ always() }}
        run: |
          ls -lart log
          less "log/test.log"
