

<li class="nav-item">
<% if user_signed_in? %>
  <%= link_to((t('Logout')), destroy_user_session_path, method: :delete, class: "nav-link") %>
</li>
<li class="nav-item">
  <%= link_to((t('Logged-in-as')) + current_user.email, user_path(current_user), class: "nav-link") %>
<% else %>
  <%= link_to((t('Login')), new_user_session_path, class: "nav-link") %>
<% end %>
</li>
